<section id="intro">
<div class="intro-container">
  <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

    <ol class="carousel-indicators"></ol>

    <div class="carousel-inner" role="listbox">

      <div class="carousel-item active" style="background-image: url(<%= asset_path 'mover7.jpg' %>)">
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__fadeInDown">Welcome to Apna Packers and Movers</h2>
            <p class="animate__animated animate__fadeInUp"> Goods Insurance with doors to doors with safety delivery services in Indore.</p>
            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
          </div>
        </div>
      </div>

    <div class="carousel-item" style="background-image: url(<%= asset_path 'mover2.jpg' %>)">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Large Number Of Freight Ways Makes Us Powerful</h2>
          <p class="animate__animated animate__fadeInUp">Best Transportation Company in Indore.
          " Our experience team has in-depth information of packaging and moving."</p>
          <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url(<%= asset_path 'mover3.jpg' %>)">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to Apna Packers and Movers</h2>
          <p class="animate__animated animate__fadeInUp">Goods Insurance with doors to doors with safety delivery services in Indore.</p>
          <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url(<%= asset_path 'mover4.jpg' %>) ">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Large Number Of Freight Ways Makes Us Powerful</h2>
          <p class="animate__animated animate__fadeInUp">Goods Insurance with doors to doors with safety delivery services in Indore.</p>
          <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>
      </div>
    </div>

    <div class="carousel-item" style="background-image: url(<%= asset_path 'mover10.jpg' %>)">
      <div class="carousel-container">
        <div class="container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to Apna Packers and Movers </h2>
          <p class="animate__animated animate__fadeInUp">Goods Insurance with doors to doors with safety delivery services in Indore.</p>
          <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
        </div>
      </div>
    </div>

    </div>

      <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>
  </div>
</section>
  <!-- End Intro Section -->
  <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>About Us</h3>
          <p>About Packers and Movers in Indore</p>
        </header>

        <div class="row about-cols">

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="100">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-img/about-mission1.jpg", class: 'img-fluid' %>
                <div class="icon"><i class="fas fa-tachometer-slowest"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Mission</a></h2>
              <p>
                We meet our customers’ demands for a personal & profesional service by offering innovative supply chain solutions.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="200">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-img/about-plan1.jpg", class: 'img-fluid' %>
                <div class="icon"><i class="ion-ios-list-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Our Vision</a></h2>
              <p>
                We proactively and constantly look for new possibilities. Therefore, an important part of our vision is to attract & retain.
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="about-col">
              <div class="img">
                <%= image_tag "about-img/about-vision.jpg", class: 'img-fluid' %>
                <div class="icon"><i class="ion-ios-eye-outline"></i></div>
              </div>
              <h2 class="title"><a href="#">Core Values</a></h2>
              <p>
                Procedures, values and attitudes are crucial to our reputation – not to mention the success we enjoy.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
     <!-- ======= Services Section ======= -->
    <section id="services">
      <div class="container" data-aos="fade-up">

        <header class="section-header wow fadeInUp">
          <h3>Services</h3>
          <p><strong>ANYTIME Movers & Packers </strong> is a trusted and reliable Cargo Packers and Movers organisation and presents a wide-range of relocating services. The company has grown out to be a dependable name in its course of constantly providing quality, timely and successful Cargo Packers and Movers services.</p>
        </header>

        <div class="row">

          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="ion-ios-analytics-outline"></i></div>
            <h4 class="title"><a href="">Household Shifting</a></h4>
            <p class="description">We have developed the expedient and luminous ways to move your household possessions or vehicles anywhere within the territory and abroad at the best prices.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="ion-ios-bookmarks-outline"></i></div>
            <h4 class="title"><a href="">Corporate shifting</a></h4>
            <p class="description">We offer the fast and reliable shifting services to move your corporate goods safely and within the stipulated timeframe.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="ion-ios-paper-outline"></i></div>
            <h4 class="title"><a href="">Vehicles Shifting </a></h4>
            <p class="description">Our car transportation services enable us to move your valuable vehicles conveniently and safely to your desired location within the minimum possible time.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="ion-ios-speedometer-outline"></i></div>
            <h4 class="title"><a href="">Office Shifting Services</a></h4>
            <p class="description">Anytime Packers and Movers have been offering office shifting solutions for long and short distance shifting. Whether you have to shift your office locally or interstate Transworld Packers and Movers has the best solutions for your shifting.</p>
          </div>
          <div class="col-lg-4 col-md-6 box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="ion-ios-barcode-outline"></i></div>
            <h4 class="title"><a href="">Loading & Unloading Services</a></h4>
            <p class="description">As the loading is part is important, Unloading also needs to be done by professionals to prevent last minute damages. Since we send our professional & Friendly staff to provide.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- End About Us Section -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="section-bg">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3 class="section-title">Enquiry Now</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
      <div class=" col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Home</li>
            <li data-filter=".filter-card">Office</li>
            <li data-filter=".filter-web">Bank</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <%= image_tag "mover1.jpg" %>
              <!-- <a href="assets/img/portfolio/app1.jpg" data-lightbox="portfolio" data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Home 1</a></h4>
              <p>Home</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/web3.jpg" class="img-fluid" alt="">
              <%= image_tag "mover2.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/web3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Web 3"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Bank 3</a></h4>
              <p>Bank</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/app2.jpg" class="img-fluid" alt="">
              <%= image_tag "mover3.jpg" ,class: 'img-fluid' %>
              <!-- <a href="assets/img/portfolio/app2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="App 2"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Home 2</a></h4>
              <p>Home</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/card2.jpg" class="img-fluid" alt="">
              <%= image_tag "mover6.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/card2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Card 2"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Office 2</a></h4>
              <p>Office</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <img src="assets/img/portfolio/web2.jpg" class="img-fluid" alt="">
              <%= image_tag "mover5.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/web2.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Web 2"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Bank 2</a></h4>
              <p>Bank</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <figure>
              <%= image_tag "mover4.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/app3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="App 3"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Home 3</a></h4>
              <p>Home</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <%= image_tag "mover7.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/card1.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Card 1"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Office 1</a></h4>
              <p>Office</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <figure>
              <%= image_tag "mover8.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/card3.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Card 3"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Office 3</a></h4>
              <p>Office</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <figure>
              <%= image_tag "mover9.jpg" ,class: 'img-fluid'%>
              <!-- <a href="assets/img/portfolio/web1.jpg" class="link-preview venobox" data-gall="portfolioGallery" title="Web 1"><i class="ion ion-eye"></i></a> -->
              <!-- <a href="portfolio-details.html" class="link-details" title="More Details"><i class="ion ion-android-open"></i></a> -->
            </figure>

            <div class="portfolio-info">
              <h4><a href="portfolio-details.html">Bank 1</a></h4>
              <p>Bank</p>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h3>Contact Us</h3>
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
        <div class="row contact-info">
          <div class="col-md-4">
            <div class="contact-address">
              <i class="ion-ios-location-outline"></i>
              <h3>Address</h3>
              <address>Shop No G-1, Plot No 378 PU-4, Scheme No-54, Behind C-21, Indore </address>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+919752617350">+91 9752617350</a></p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:mansinghbadkul@gmail.com">mansinghbadkul@gmail.com</a></p>
            </div>
          </div>
        </div>
        <%= render 'contact_form' %>
      </div>    
    </section>
    <!-- End Contact Section -->


